:root {
    --dark-blue: #2c3e50;
    --blue: #3a546d;
    --teal: #1abc9c;
}

/* common */
body {
    color: #fff;
}
ul {
    list-style: none;
}

/* button */
a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.btn {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.btn--circle {
    border-radius: 50%;
}

.btn--color--teal {
    color: var(--teal);
}
/* typo */
h1, h2, h3, h4, h5, h6, 
.uppercase {
    text-transform: uppercase;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.5rem;
}

h6 {
    font-size: .8rem;
}

/* ≥ 768 */
@media screen and (min-width: 768px) {
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h6 {
        font-size: 1.2rem;
    }
}
/* header */

header{
    height: 90px;
    position: fixed;
    width: 100%;
    background-color:  var(--dark-blue);
    z-index: 1;
}

header nav {
    justify-items: flex-end;
}

header a {
    line-height: 90px;
    text-transform: uppercase;
}

header nav a {
    margin-left: 2rem;
}

header ul {
    margin-top: 0;
    margin-bottom: 0;
}

header li {
    display: inline-block;
}

/* main*/
main {
    padding-top: 90px;
}

section {
    padding: 40px 0;
}

.portfolio, .contact-me {
    color: var(--dark-blue);
}
.hero {
    background-color: var(--teal);
}

.hero-col__img{
    margin-bottom: 25px;
}

.line {
    height: 3px;
    width: 200px;
    margin: 50px auto 40px;
}

.line--width--small {
    width: 115px;
}

.line--bg--white {
    background-color: #fff;
}

.line--bg--dark-blue{
    background-color: var(--dark-blue);
}

.hero-col_subtitle {
    font-size: 1.2rem;
}




.portfolio__img {
    position: relative;
    overflow: hidden;    
    margin-bottom: 30px;
}

.portfolio__img::after {
    content: "";
    display: block;
    padding-bottom: 80%;
}
.portfolio__img img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img--border-radius{
    border-radius: 10px;
}




.about {
    background-color: var(--teal);
}

.about__wrapper {
    width: 90%;
    margin: auto;
}



.form {
    height: 500px;
    background-color: yellow;
}


/* ≥ 768 */
@media screen and (min-width: 768px) {

    /* hero */
    section {
        padding: 70px 0;
    }

    
    .hero-col__img{
        margin-bottom: 30px;
    }

    .hero-col_subtitle {
        font-size: 1.5rem;
    }

    .line {
        width: 350px;
    }

    .line--width--small {
        width: 250px;
    }

}

/* ≥ 992 */
@media screen and (min-width: 768px) {
        /* hero */
   
        .line {
            width: 450px;
        }

        .line--width--small {
            width: 375px;
        }

}

/* footer */
.footer-top {
    background-color: var(--blue);
}

.footer-bottom {
    background-color: var(--dark-blue);
}


.footer-top__col--margin {
    margin-bottom: 50px;
}
.top__social-list {
    display: flex;
    align-content: center;
    justify-content: center;
    padding-left: 0;
}

.top__social-list li{
    margin: 0 10px;
}


.social-list__btn li::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

/* ≥ 768 */
@media screen and (min-width: 768px)  {
    .footer-top__col--margin {
        margin-bottom: 0;
    }

    section.footer-bottom {
        padding: 35px 0;
    }
}