:root {
    --dark-blue: #2c3e50;
    --blue: #3a546d;
    --teal: #1abc9c;
}

/* common */
body {
    color: #fff;
}

ul {
    list-style: none;
}

/* button */
a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.btn {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

/* typo */
h1, h2, h3, h4, h5, h6, 
.uppercase {
    text-transform: uppercase;
}

h1 {
    font-size: 2.5rem;
}

/* ≥ 768 */
@media screen and (min-width: 768px) {
    h1 {
        font-size: 3.5rem;
    }
}
/* header */

header{
    height: 90px;
    position: fixed;
    width: 100%;
    background-color:  var(--dark-blue);
}

header nav {
    justify-items: flex-end;
}

header a {
    line-height: 90px;
    text-transform: uppercase;
}

header nav a {
    margin-left: 2rem;
}

header li {
    display: inline-block;
}

/* main*/
main {
    padding-top: 90px;
}

.hero {
    background-color: var(--teal);
    padding: 40px 0;
}

.hero-col__img{
    margin-bottom: 25px;
}

.line {
    height: 3px;
    width: 40%;
    background-color: #fff;
    margin: 50px auto 40px;
}

.hero-col_subtitle {
    font-size: 1.2rem;
}

/* ≥ 768 */
@media screen and (min-width: 768px) {

    /* hero */
    .hero {
        padding: 70px 0;
    }

    
    .hero-col__img{
        margin-bottom: 30px;
    }

    .hero-col_subtitle {
        font-size: 1.5rem;
    }

}

/* ≥ 992 */
@media screen and (min-width: 768px) {

}

