
/* common */
:root {
    --blue: #2c3e50;
    --blue_300: #3a546d;
    --teal: #1abc9c;
}

body {
    font-family: 'Almarai', sans-serif;
}

.bg_blue {
    background-color: #2c3e50;
} 
.bg_blue_300 {
    background-color: #3a546d;
} 
.bg_teal {
    background-color: #1abc9c;
} 

body {
    color: #fff;
}

.wrapper {
    max-width: 70%;
    margin: auto;
}

ul {
    list-style: none;
    padding-inline-start: 0;
    margin-block-end: 0;
}


/* button */
button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: 500;
}

a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

a:hover, button:hover {
    color: rgba(255,255,255,.75);
}
.ms_btn {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.btn--circle {
    border-radius: 50%;
}

button[type="submit"] {
    background-color: var(--teal);
}

/* typo */
h1, h2, h3, h4, h5, h6, 
.uppercase {
    text-transform: uppercase;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;

}

h6 {
    font-size: .8rem;
}

/* ≥ 768 */
@media screen and (min-width: 768px) {
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h6 {
        font-size: 1.2rem;
    }
}
/* header */
header{
    min-height: 90px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navbar {
    width: 100%;
    line-height: 90px;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    font-weight: 800;
    font-size: 1.5rem;
    padding: 0;
}

.nav-link {
    font-weight: 700;
    line-height: initial;
    vertical-align: middle;
}

.navbar-dark .navbar-toggler {
    border-color: #fff;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    text-transform: uppercase;
}

header li {
    display: inline-block;
}

@media screen and (min-width: 992px) {
    .navbar {
        max-width: 960px;
        margin: auto;
    }
}

@media screen and (min-width: 1200px) {
    .navbar {
        max-width: 1140px;
    }
}

@media screen and (min-width: 100px) {
    .navbar {
        max-width: 1320px;
    }
}
/* main*/
main {
    padding-top: 90px;
}

section {
    padding: 40px 0;
}

section .col__img{
    margin-bottom: 25px;
}

.col__img img {
    width: 100%;
}

#hero .col__img {
    width: 225px;
    margin: 0 auto 25px;
}


.divisor {
    margin: 25px auto 10px;
    vertical-align: middle;
}

.divisor--large::before, .divisor--large::after {
    width: 100px;
}

.divisor--small::before, .divisor--small::after {
    width: 50px;
}

.divisor::before, .divisor::after {
    content: "";
    height: 3px;
    background-color: currentColor;
}

.star {
    font-size: 2rem;
    margin: 0 5px;
}


.line--bg--white {
    background-color: white;
}

.line--bg--blue {
    background-color: var(--blue);
}


#hero .col__subtitle {
    font-size: 1.2rem;
}



#portfolio {
    color: var(--blue);
}

#portfolio .col__img {
    position: relative;
    overflow: hidden;    
}
#portfolio .col__item-overlay i{
    display: none;
}

#portfolio .col__img:hover .col__item-overlay {
    background-color: rgba(26, 188, 156, .8);
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    font-size: 6rem;
}

#portfolio .col__img:hover .col__item-overlay i{
    display: inline-block;
    color: #fff;
}

.img--border-radius{
    border-radius: 10px;
}

#about .fa-download {
    margin-right: 5px;
}

#contact-me {
    color: var(--blue);
}

.form-control {
    border: none;
    border-bottom: 1px solid #cccccc;
    border-radius: 0;
    padding-left: 0;
}
input {
    border: none;
}



/* ≥ 768 */
@media screen and (min-width: 768px) {

    /* hero */
    section {
        padding: 70px 0;
    }

    
    .hero-col__img{
        margin-bottom: 30px;
    }

    .hero-col_subtitle {
        font-size: 1.5rem;
    }

    .divisor--large {
        width: 350px;
    }

    .divisor--small {
        width: 250px;
    }

}


/* footer */

.footer-top__col--margin {
    margin-bottom: 50px;
}
.top__social-list li{
    margin: 5px;

}

.social-list__btn {
    width: 55px;
    height: 55px;
}
.social-list__btn i {
    line-height: 55px;
}


/* ≥ 768 */
@media screen and (min-width: 576px)  {
    .footer-top__col--margin {
        margin-bottom: 0;
    }

    section.footer-bottom {
        padding: 35px 0;
    }
}